
#calculator{
    background-color: bisque;
    text-align: center;
    border: dotted 3px brown;
    padding: 5px;

}
#forUl{
    text-align: center;
   
}
#inp1{
    margin-left: 20px;
}
#inp3{
    margin-left: 20px;

}
